page-auth {

  ion-content {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  }

  h1 {
    font-weight: 200;
    color: #FFF;
    font-size: 50px;
  }
  p {
    color: #90A4AE;
  }

  ion-item.item {
    background-color: transparent;
    color: #fff;
  }

    .item-input ion-label.label {
      color: #fff;
    }



  button.login {
    background: #64B5F6;
  }

  .signup-hint {
    color: #64B5F6;
  }

  button.signup {
    background: #4DB6AC;
  }

  .login-hint {
    color: #4DB6AC;
  }

  .auth-error-message {
    color: #ff0000;
  }
}
