<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>
    <div class="message-wrap">
        <div *ngFor="let msg of msgList"
             class="message"
             [class.left]=" msg.sender !== userId "
             [class.right]=" msg.sender === userId ">
            <img class="user-img" [src]="msg.userAvatar" alt="" src="">
            <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
            <div class="msg-detail">
                <div class="msg-info">
                    <p>
                        {{msg.userName}}&nbsp;&nbsp;&nbsp;{{msg.timeText()}}</p>
                </div>
                <div class="msg-content">
                    <span class="triangle"></span>
                    <p class="line-breaker ">{{msg.message}}</p>
                </div>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer no-border>
    <ion-grid class="input-wrap">
        <ion-row>
            <ion-col col-10>
                <ion-textarea #chat_input
                              placeholder="Text Input"
                              [(ngModel)]="editorMsg"
                              (keyup.enter)="sendMsg()"
                              (focus)="onFocus()">
                </ion-textarea>
            </ion-col>
            <ion-col col-2>
                <button ion-button clear icon-only item-right (click)="sendMsg()">
                    <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
