<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>
    <div class="message-wrap">
        <div *ngFor="let msg of msgList"
             class="message"
             [class.left]=" msg.sender !== userId "
             [class.right]=" msg.sender === userId ">
            <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
            <div class="msg-detail">
                <div class="msg-info">
                    <p>
                        {{msg.userName}}&nbsp;&nbsp;&nbsp;{{msg.timeText()}}</p>
                </div>
                <div class="msg-content">
                    <span class="triangle"></span>
                    <p class="line-breaker" *ngIf="! msg.attachment">{{msg.message}}</p>
                    <img src={{msg.attachment.url}} *ngIf="msg.attachment && ! msg.metadata.thumbnail && msg.attachment.contentType.startsWith('image')">
                    <img src={{msg.metadata.thumbnail}} *ngIf="msg.metadata && msg.metadata.thumbnail" (load)="onLoadImage($event, msg.attachment.url)" width={{msg.metadata.width}} (click)="showImage(msg.attachment.url)"/>
                    <button *ngIf="msg.attachment && ! msg.attachment.contentType.startsWith('image')" (click)="openURL(msg.attachment.url)">
                      <section *ngIf="msg.attachment.url !== this.audioFilePlayingURL">
                         <ion-icon name="ios-play" ios="ios-play" md="md-play" class="audio-button"></ion-icon>
                      </section>
                       <section *ngIf="msg.attachment.url === this.audioFilePlayingURL">
                         <ion-icon name="ios-square" ios="ios-square" md="md-square" class="audio-button"></ion-icon>
                      </section>
                      <br/>
                      <p class="audio-button">{{msg.metadata.length / 1000}}&nbsp;s</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer no-border>
    <ion-grid class="input-wrap">
        <section *ngIf="this.shouldShowTextMessageBar">
          <ion-row>
             <ion-col col-1>
               <button ion-button clear icon-only item-right (click)="showAudioRecordingBar()">
                 <ion-icon name="ios-microphone" ios="ios-microphone" md="md-microphone"></ion-icon>
               </button>
             </ion-col>
             <ion-col col-1>
                 <button ion-button clear icon-only item-right (click)="sendAttachment()">
                     <ion-icon name="ios-attach" ios="ios-attach" md="md-attach"></ion-icon>
                 </button>
              </ion-col>
              <ion-col col-10>
                  <ion-textarea #chat_input
                                placeholder="Text Input"
                                [(ngModel)]="editorMsg"
                                (keyup.enter)="sendMsg()"
                                (focus)="onFocus()">
                  </ion-textarea>
              </ion-col>
              <ion-col col-2>
                <button ion-button clear icon-only item-right (click)="sendMsg()">
                  <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
                </button>
              </ion-col>
          </ion-row>
        </section>
        <section *ngIf="! this.shouldShowTextMessageBar">
          <ion-row>
            <ion-col col-9>
               <div class="recording">
                Recording...
              </div>
            </ion-col>
            <ion-col col-1>
              <button ion-button clear icon-only item-right (click)="sendAudioRecordingMessage()">
                <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-1>
            </ion-col>
            <ion-col col-1>
              <button ion-button clear icon-only item-right (click)="showTextMessageBar()">
                <ion-icon name="ios-close-circle" ios="ios-close-circle" md="ios-close-circle"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </section>
    </ion-grid>
</ion-footer>
